# Firebase Configuration for SHIKKUM (shikkum-7a238)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=shikkum-7a238.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shikkum-7a238
VITE_FIREBASE_STORAGE_BUCKET=shikkum-7a238.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=128758477432
VITE_FIREBASE_APP_ID=1:128758477432:web:4b6c7282909cc5a939b38d
